body{
    background-image: url(../images/fondoMusic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}


.div-formulario{
    background-color: rgba(233, 241, 250, 0.6);
    padding: 20px;
    border-radius: 10px;
}

header{
    padding: 10px;
    background-color: rgba(59, 65, 70, 0.7);
}

.form-group{
    margin: 20px 0px 20px 0px;
}

.div-a{
    color: black;
    text-decoration-line: none;
}

.div-a:hover{
    color: black;
}

.form-control{
    background-color: rgba(241, 243, 245,0.7);
    border-radius: 0;
}

.form-control::placeholder{
    color: black;
}

.form-control:focus{
    background-color: rgba(241, 243, 245,0.9);
}

.input-btn{
    background-color: rgba(223, 225, 227, 0.9);
    font-size: 18px;
    font-weight: bold;
}

.input-btn:hover{
    background-color: rgb(82, 191, 191) !important;
}

#a-registro{
    background-color: rgba(241, 243, 245,0.8);
    font-size: 26px;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px;
}